.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .headline-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    max-width: 80%;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    img {
      width: 250px;
      height: auto;
    }

    .index-headline {
      line-height: 1;
      margin-bottom: 0;
      text-align: left;
      width: auto;
    }
  
    .index-subheadline {
      text-align: left;
      width: auto;
    }
  }
}

.section-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  min-width: 100px;

  svg {
    height: auto;
    width: 60px;
    margin: 0 auto;
  }

  p {
    text-transform: capitalize;
    margin: 20px auto 0;
  }
}

.recent-videos {
  width: 100vw;
  margin: auto;
  display: flex;
}

.recent-yt {
    width: 100vw;
    margin: auto;
    display: flex;

  .yt-video-list {
    width: calc(100% - 180px);
    margin: 20px auto 20px 0;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-x: scroll;

    @media (min-width: 1450px) {
      overflow-x: visible;
    }

    iframe {
      margin: 10px;
      border: none;
      width: 400px;
      max-width: 400px;
      height: 170px;
    }
  }
}

.recent-twitch {
  .twitch-video-list {
    width: calc(100% - 180px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;

    iframe {
      margin: 10px;
      border: none;
      width: 600px;
      height: 300px;
      min-width: 600px;
    }

    @media (min-width: 1450px) {
      overflow-x: visible;
    }
  }
}