main#crew-member {
  .wiki-layout {
    position: relative;
    display: grid;
    grid-template-areas:
      "summary bio"
      "toc bio"
      "sections bio"
      "blank bio";
    grid-template-columns: auto 390px;
    padding-bottom: 40px;

    .bio-stats {
      grid-area: bio;
      width: 270px;
      margin: 30px 40px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 5px 2px #333;
      background: #222;
      height: fit-content;

      h2.handle {
        width: 100%;
        text-align: center;
        margin: 0 0 20px;
      }

      img {
        max-width: 220px;
        align-self: center;
      }

      .bio-section {
        h3 {
          margin-left: -10px;
          margin-right: -10px;
          padding: 5px 10px;

          &[data-section="personal"] {
            background: #125918;
          }
          &[data-section="youtube"] {
            background: rgb(124, 0, 0);
          }
          &[data-section="twitch"] {
            background: #5c2ea0;
          }
          &[data-section="bandcamp"] {
            background: #853939;
          }
        }

        .bio-line {
          display: grid;
          grid-template-areas: "bold content";
          grid-template-columns: 40% 60%;

          p,
          b {
            margin: 6px 0;
            line-height: 1.1;
          }

          b {
            grid-area: bold;
          }

          p {
            grid-area: content;
            display: flex;
            flex-direction: column;

            span:first-child {
              margin-top: 0;
            }
            span:last-child {
              margin-bottom: 0;
            }
            span {
              margin: 4px 0;
            }
          }

          a {
            display: flex;
            align-items: center;
          }
        }
      }

      .last-updated {
        text-align: center;
        margin: 14px 0 0;
        font-size: 14px;
        font-style: italic;
      }
    }

    .top-summary {
      grid-area: summary;
      margin: 30px 0 30px 40px;
      box-shadow: 0px 0px 5px 2px #333;
      background: #222;
      font-size: 22px;
      padding: 30px;

      p {
        margin-top: 0;

        &:last-child {
          margin-bottom: 0;
        }

        b {
          text-transform: capitalize;
        }
      }
    }

    .table-of-contents {
      grid-area: toc;
      margin: 0 0 30px 40px;
      box-shadow: 0px 0px 5px 2px #333;
      background: #222;
      padding: 30px;

      h3 {
        font-size: 24px;
        margin-top: 0;
      }

      ol {
        font-size: 18px;

        li {
          padding-left: 10px;
        }
      }
    }

    .sections {
      grid-area: sections;
      margin: 0 0 30px 40px;
      box-shadow: 0px 0px 5px 2px #333;
      background: #222;
      padding: 30px;

      > div {
        h4 {
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 28px;
        }

        p {
          padding: 0 10px;
          font-size: 20px;
        }

        .inner-section {
          padding: 10px;

          h4 {
            font-size: 22px;
            margin-bottom: 20px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-areas:
        "bio"
        "summary"
        "toc"
        "sections";
      grid-template-columns: 100%;
      width: 95%;
      margin: auto;

      .bio-stats,
      .top-summary,
      .table-of-contents,
      .sections {
        width: 90%;
        margin: 30px auto 0;
        padding: 20px;
      }

      .bio-stats img {
        max-width: 100%;
      }
    }
  }
}
